<span style='color: #000'>933 frames</span>	<span style='color: #900'>24,576 KB</span>	<span style='color: #090'>5,757.30 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />